# Environments
.env
.env.local
.env.*.local

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
.env/

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Databases
*.db
*.sqlite
